section#articles {
  background-color: var(--bright-bg);
  padding: 4vw;
}
section#article_list {
  display: flex;
  flex-flow: column wrap;
}
article#oneArticle {
  margin: 5vw auto;
}
article#oneArticle > .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.row > .picture {
  width: 20%;
  height: 100%;
  flex-grow: 1;
  flex-basis: 26vw;
  background-color: grey;
}
.row > .col {
  flex-grow: 1;
  flex-basis: 40vw;
  display: flex;
  flex-flow: column wrap;
  margin-left: 2vw;
}
.text,
.more {
  font-size: 4.5vw;
  font-weight: 200;
}
button.read_more {
  margin-top: 6vw;
  margin-left: 0;
  width: 40vw;
  height: 9vw;
  text-align: center;
  font-size: 0.8rem;
  color: var(--button-text-color);
  background: rgb(87, 161, 199);
  background: linear-gradient(
    180deg,
    rgba(87, 161, 199, 1) 0%,
    rgba(79, 146, 180, 1) 32%,
    rgba(75, 138, 171, 1) 64%,
    rgba(70, 129, 160, 1) 99%
  );
  border-radius: 1.2vw;
}
#pages {
  display: flex;
  flex-flow: row wrap;
  margin: 5vw auto;
}
#pages > a,
#pages > p {
  font-family: var(--p-fontFam);
  font-size: 0.6rem;
  padding: 1.5vw 2.5vw;
  margin-right: 1vw;
  background-color: #eeeeee;
}
#pages a.active {
  background-color: #c1c1c1;
  color: var(--link-text-color);
  font-weight: bold;
}
#pages a:hover:not(.active) {
  background-color: grey;
}
@media screen and (min-width: 450px) and (min-width: 375px) {
  .text,
  .more {
    font-size: 3.7vw;
  }
}
@media only screen and (min-width: 375px) {
  #pages > a,
  #pages > p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 450px) {
}
@media screen and (min-width: 768px) {
  section#articles {
    padding: 0 4vw;
  }
  #pages > a,
  #pages > p {
    padding: 1vw 2vw;
  }
  button.read_more {
    border-radius: 0.5vw;
    width: 16vw;
    height: 3.5vw;
    margin-top: 1vw;
    margin-left: 0;
    font-size: 1.5vw;
  }
  .text,
  .more {
    font-size: 2vw;
  }
  .row > .picture {
    flex-grow: 1;
    flex-basis: 14vw;
  }
}
@media screen and (min-width: 1200px) {
  .text,
  .more {
    font-size: 1.5vw;
  }
  button.read_more {
    width: 15vw;
    height: 3vw;
    font-size: 1.2vw;
  }
  #pages > a,
  #pages > p {
    font-size: 1vw;
    padding: 1vw 1.3vw;
  }
}
@media screen and (min-width: 1300px) {
  button.read_more {
    width: 12vw;
    height: 3vw;
    font-size: 1vw;
  }
  .text,
  .more {
    font-size: 1.3vw;
  }
  #pages > a,
  #pages > p {
    font-size: 0.8vw;
  }
  #oneArticle > .row > .picture {
    flex-basis: 10vw;
  }
}
@media screen and (min-width: 1600px) {
  button.read_more {
    width: 9vw;
    height: 1.8vw;
    font-size: 0.7vw;
  }
  .text,
  .more {
    font-size: 1vw;
  }
  #pages > a,
  #pages > p {
    padding: 0.8vw 1vw;
  }
}
