/* FOOTER */
footer {
  background-color: black;
  padding: 3vw;
}
#footer_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
#about,
#flickr,
#contact {
  /* flex-grow: 1;
  flex-basis: 350px; */
  align-self: flex-start;
  padding: 2vw;
  margin-bottom: 3vw;
}
.img_container > img {
  width: 100%;
}
#footer_container > div > h1 {
  color: white;
  font-weight: 200;
  margin-bottom: 2vw;
}
#footer_container > div > h2 {
  font-weight: 200;
  margin-bottom: 2vw;
  color: var(--secondary-color);
}
address,
#about > p {
  font-size: 4.5vw;
  color: grey;
}
address {
  font-style: normal;
  letter-spacing: 0.15vw;
}
#about > q {
  color: var(--secondary-color);
  font-size: 4.5vw;
}
#flickr > .img_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}
@media screen and (min-width: 375px) {
}
@media only screen and (min-width: 450px) {
}
@media screen and (min-width: 768px) {
  #footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #about {
    padding: 1vw 2vw 1vw 1.3vw;
  }
  #contact {
    padding: 1vw 1.3vw 1vw 2vw;
  }
  address {
    letter-spacing: 0;
  }
  address,
  #about > p,
  #about > q {
    font-size: 2vw;
  }
  #contact > h2 {
    font-size: 2.3vw;
  }
  #flickr {
    padding: 1vw;
  }
  #flickr > .img_container {
    gap: 1.2vw;
  }
  .img_container > img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #flickr > .img_container {
    gap: 1vw;
  }
  address,
  #about > p,
  #about > q {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1300px) {
  address,
  #about > p,
  #about > q {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1600px) {
  address,
  #about > p,
  #about > q {
    font-size: 1vw;
  }
  #contact > h2 {
    font-size: 1.3vw;
  }
  .img_container > img {
    width: 90%;
  }
}
