/* HEADER */
header {
  background-color: var(--dark-bg);
}
header #logo_text {
  height: 100%;
  width: auto;
  margin: 2vw 4vw;
  padding: 0.3vw;
}
header #logo_text img {
  height: 32px;
  width: auto;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
nav > ul {
  text-align: right;
  margin: 1vw 0 0 41vw;
  -webkit-animation: slidedown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slidedown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
nav > ul > li,
.otheritems > li {
  list-style-type: none;
  margin: 2vw 0;
}
@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

nav > ul > li > a,
.otheritems > li > a {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--main-fontFam);
  color: var(--link-text-color);
}
.otheritems > li > a:hover {
  text-decoration: underline;
}
input[type="search"] {
  border-radius: 3vw;
  border: none;
  padding: 1vw 1vw 1vw 11vw;
  width: 100%;
}
button[type="submit"] {
  position: absolute;
  left: 2vw;
}
button[type="submit"]:after {
  content: "▾";
}
.fa {
  color: var(--secondary-color);
}
#menu_list > li:nth-child(1) {
  position: relative;
}
#burger-menu {
  /* display: flex;
  flex-flow: column wrap; */
  position: absolute;
  height: 4%;
  width: 7%;
  left: 87vw;
  margin: 3vw;
  padding: 1vw;
}
#burger-menu > .bar {
  background-color: var(--burger-icon);
  height: 0.5vw;
  width: 5vw;
  margin-bottom: 1vw;
  transition: 0.3s ease-in-out;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 2px);
  /* transform: rotate(-45deg) translate(-3.2px, 2px); */
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  /* transform: rotate(45deg) translate(-9px, -5px); */
  transform: rotate(45deg) translate(-5px, -2.3px);
}
@media screen and (min-width: 450px) and (min-width: 375px) {
  nav > ul {
    margin-left: 57vw;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-5.5px, -3.3px);
    /* transform: rotate(45deg) translate(-9px, -5px); */
  }
}
@media screen and (min-width: 375px) {
  header #logo_text img {
    height: 36px;
  }
}
@media only screen and (min-width: 450px) {
  header #logo_text img {
    height: 40px;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -4.5px);
  }
  nav > ul {
    margin: 0 0 0 63vw;
  }
}
@media screen and (min-width: 768px) {
  header #logo_text img {
    height: 40px;
  }
  #burger-menu {
    display: none;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-12px, -8px);
  }
  nav > ul {
    display: flex;
    flex-flow: row wrap;
    left: 22vw;
    margin: 0 1.8vw 0 auto;
  }
  .otheritems {
    display: flex;
    flex-flow: row wrap;
    margin-left: 27vw;
  }
  .otheritems > li {
    padding: 0 1vw;
    margin: 0.8vw 0;
  }
  .otheritems > li > a {
    font-size: 1.8vw;
  }
  nav > ul#menu_list.hidden {
    display: block;
  }
  #menu_list > li:nth-child(1) {
    position: absolute;
    top: -75px;
    left: 71vw;
  }
  input[type="search"] {
    padding: 0.8vw 0.8vw 0.8vw 5vw;
  }
  button[type="submit"] {
    left: 1vw;
    top: 0.5vw;
  }
}
@media screen and (min-width: 1200px) {
  header #logo_text {
    margin: 2vw 2vw auto;
  }
  header #logo_text img {
    height: 55px;
  }
  #menu_list {
    margin: 0 0 0 auto;
  }
  #menu_list > li:nth-child(1) {
    top: -78px;
    left: 79vw;
    margin: 2vw 0 0 0;
  }
  input[type="search"] {
    padding: 0.5vw 0.5vw 0.5vw 4vw;
  }
  button[type="submit"] {
    top: 0.2vw;
  }
  #menu_list > .otheritems {
    padding-left: 12vw;
    padding-right: 2vw;
    margin-left: 18vw;
  }
  #menu_list > li:nth-child(1) {
    left: 70vw;
  }
  .otheritems > li > a {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 1300px) {
  #menu_list > li:nth-child(1) {
    left: 66vw;
  }
  .otheritems > li > a {
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 1600px) {
  .otheritems > li > a {
    font-size: 1vw;
  }
  #menu_list > li:nth-child(1) {
    left: 60vw;
  }
  button[type="submit"] {
    top: 0.3vw;
    left: 0.5vw;
  }
}
