@import url("https://use.typekit.net/vup0zsq.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url(/src/css/articles.css);
@import url(/src/css/slider.css);
@import url(/src/css/updates.css);
@import url(/src/css/sponsors.css);
@import url(/src/css/header.css);
@import url(/src/css/footer.css);
@import url(/src/css/vars.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  visibility: hidden;
}
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
p {
  font-family: var(--main-fontFam);
}
h1 {
  font-weight: 200;
  font-size: 5.7vw;
}
h2 {
  font-weight: 200;
  font-size: 4.5vw;
}
h3 {
  font-weight: 200;
  font-size: 4vw;
}
h4 {
  font-weight: 300;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}
button {
  all: initial;
  cursor: pointer;
  font-family: var(--p-fontFam);
}
a {
  all: initial;
  cursor: pointer;
}
main > #main-contents {
  display: flex;
  flex-flow: column wrap;
  margin: 0 0%;
}
@media screen and (min-width: 450px) and (min-width: 375px) {
}
@media only screen and (min-width: 450px) {
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3vw;
  }
  h2 {
    font-size: 2vw;
  }
  main > #main-contents {
    flex-flow: row wrap;
  }
  #articles {
    flex-grow: 2;
    flex-basis: 350px;
  }
  #updates {
    flex-grow: 1;
    flex-basis: 200px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.3vw;
  }
  h2 {
    font-size: 1.8vw;
  }
  #articles {
    flex-grow: 3;
    flex-basis: 350px;
  }
  #updates {
    flex-grow: 1;
    flex-basis: 250px;
  }
}
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 2.3vw;
  }
  h2 {
    font-size: 1.5vw;
  }
  main > #main-contents,
  section#sponsors,
  #footer_container {
    margin: 0 5%;
  }
}
@media screen and (min-width: 1600px) {
  main > #main-contents,
  section#sponsors,
  #footer_container {
    margin: 0 11%;
  }
  h1 {
    font-size: 1.8vw;
  }
  h2 {
    font-size: 1.3vw;
  }
  section#articles {
    flex-grow: 3;
    flex-basis: 500px;
  }
  aside#updates {
    flex-grow: 1;
    flex-basis: 130px;
    padding: 2vw;
  }
}
