#slider_splash {
  background-color: var(--dark-bg);
}
.slider_container > .bottom > q {
  background-color: var(--dark-bg);
  color: grey;
  font-size: 6.3vw;
  line-height: 7vw;
}
.slider_container > .bottom {
  padding: 1.2vw 4vw;
}
.some {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 1.5vw 0;
  /* margin: 0 2vw; */
  /* width: calc(100% + 1vw); */
}
.some > a > * {
  margin: 0 -1vw;
}
.some > a > img {
  width: 60%;
}

@media screen and (min-width: 375px) {
  .some > .bottom > q {
    font-size: 6vw;
  }
}
@media screen and (min-width: 768px) {
  .slider_container > .bottom {
    display: flex;
    flex-flow: row wrap;
  }
  .bottom > .some {
    flex-grow: 1;
    flex-basis: 200px;
    align-self: center;
  }
  .slider_container > .bottom > q {
    flex-grow: 2;
    flex-basis: 300px;
    font-size: 3.8vw;
    line-height: 5vw;
  }
  .some {
    margin: 0;
  }
  .some > a > * {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .some > a > img {
    width: 100%;
  }
  .some > a {
    padding-right: 1vw;
  }
  .slider_container > .bottom > q {
    font-size: 3vw;
    line-height: 4vw;
  }
}
@media screen and (min-width: 1300px) {
  .slider_container > .bottom > q {
    font-size: 2.2vw;
    line-height: 3vw;
  }
}
@media screen and (min-width: 1600px) {
  .slider_container > .bottom > q {
    font-size: 2vw;
  }
}
