section#sponsors {
  padding: 4vw;
}
#sponsors > h1 {
  margin-bottom: 2vw;
}
section#sponsors_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  margin-top: 2vw;
}
@media screen and (min-width: 450px) and (min-width: 375px) {
}
@media only screen and (min-width: 450px) {
}
@media screen and (min-width: 768px) {
  section#sponsors {
    padding: 2vw 4vw;
  }
  section#sponsors_list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1200px) {
}
