aside#updates {
  background-color: var(--grey-bg);
  padding: 4vw;
}
aside#updates > .container {
  margin-bottom: 5vw;
}
aside#updates > .container > p {
  font-size: 4.5vw;
}
aside#updates > .container > a {
  color: var(--button-color);
  font-family: var(--main-fontFam);
  font-weight: 200;
  font-size: 4.5vw;
}
aside#updates > .container > a:hover {
  text-decoration: underline;
}
#scoreboard > ul {
  text-indent: 4vw;
  font-size: 4.5vw;
}
#scoreboard > ul > li {
  list-style-type: none;
  font-weight: 200;
}
@media screen and (min-width: 450px) and (min-width: 375px) {
}
@media only screen and (min-width: 450px) {
}
@media screen and (min-width: 768px) {
  #updates > #shop {
    margin-top: 0;
  }
  aside#updates > .container > p,
  aside#updates > .container > a,
  #scoreboard > ul {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  #scoreboard > ul {
    text-indent: 2vw;
  }
  aside#updates > .container > p,
  aside#updates > .container > a,
  #scoreboard > ul {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1300px) {
  aside#updates > .container > p,
  aside#updates > .container > a,
  #scoreboard > ul {
    font-size: 1.3vw;
  }
  #updates > #shop {
    margin-top: 1vw;
  }
}
@media screen and (min-width: 1600px) {
  aside#updates > .container > p,
  aside#updates > .container > a,
  #scoreboard > ul {
    font-size: 1vw;
  }
}
