:root {
  --main-fontFam: adobe-garamond-pro, serif;
  --p-fontFam: "Roboto", sans-serif;
  --dark-bg: #000;
  --bright-bg: #fff;
  --grey-bg: #eaeaea;
  --link-text-color: #fff;
  --secondary-color: #a3a3a3;
  --burger-icon: rgb(196, 196, 196);
  --button-color: #549bc0;
  --button-text-color: rgb(219, 218, 218);
}
